{% verbatim %} 

<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<style>
  table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    cursor:pointer;
  }

  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  tr:hover td {
    background-color: lightblue;
  }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

  <div ng-app="myApp" ng-controller="booksCtrl" class="col-md-4 col-md-offset-4" style="margin-top: 20px;" >
    <div ng-show="showBookTable">
      <table>
        <tr>
          <th>id</th>
          <th>Title</th>
          <th>Description</th>

        </tr>
        <tr ng-repeat="book in books" ng-click=setSelectedBook(book)>
          <td >{{book.pk}}</td>
          <td>{{ book.fields.description}}</td>
          <td>{{ book.fields.title }}</td>
        </tr>
      </table>

    </div>

    <div ng-show="showSingleBook">
      <strong>Book id: </strong>{{selectedBook.pk}} <br> 
      <strong>Book author: </strong>{{selectedBook.fields.author_first_name}} {{selectedBook.fields.author_last_name}} <br> 
      <strong>Book title: </strong>{{selectedBook.fields.title}}<br> 
      <strong>Book description: </strong>{{selectedBook.fields.description}}<br> 
      <div> 
        <p>
          <button ng-click=removeBook(selectedBook) class="btn btn-primary">Delete</button>
        </p>

        <p>
          <button ng-click=showEdit() class="btn btn-primary">Edit</button>
        </p>


        <p>
          <button ng-click=showTable() class="btn btn-primary">All books</button>
        </p>

      </div>
    </div>

    

    <div ng-show="showEditBook">
      <h1>Edit book</h1>
      <form role="form" ng-submit="editBook(selectedBook)">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" ng-model="selectedBook.fields.title"  />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" ng-model="selectedBook.fields.description" />
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <div ng-show="showAddBook">
      <h1>Add new book</h1>
      <form role="form" ng-submit="addBook()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" ng-model="newTitle" placeholder="add book title" />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" class="form-control" ng-model="newDesc" placeholder="add book description" />
        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

  </div>


  <script>
    var app = angular.module('myApp', []);
    app.controller('booksCtrl', function($scope, $http) {
      $scope.showBookTable = true;
      $scope.showSingleBook = false;
      $scope.showAddBook = true;
      $scope.showEditBook = false;

      $scope.showEdit = function(book) {
        $scope.showEditBook = true;
      }

      $scope.editBook = function(book) {
        $http.put("/books/" + book.pk, {"title": book.fields.title, description: book.fields.description});
        $scope.showTable();   
      }

      $scope.removeBook = function(book) {
        var index = $scope.books.indexOf(book);
        $scope.books.splice(index,1); 
        $scope.showTable()
        $http.delete('/books/' + book.pk);
      }

      $scope.showTable = function() {
        $scope.showBookTable = true;
        $scope.showSingleBook = false;
        $scope.showEditBook = false;
      }

      $scope.addBook = function() {
        $scope.showAddBook = true;
        $http.post("/books/ ", {"title":$scope.newTitle, description:$scope.newDesc})
        .then(function (response) {
         var book = response.data;
         $scope.books.push(book);
       });
      }

      $scope.setSelectedBook = function(book) {
      $http.get("/books/" + book.pk)
      .then(function (response) {
        $scope.selectedBook = response.data;
      });
        $scope.showBookTable = false; 
        $scope.showSingleBook = true; 
      };

      $http.get("/books")
      .then(function (response) {
        $scope.books = response.data;
      });

      
    });
  </script>

</body>
</html>


{% endverbatim %} 
